# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: GeoExT ECIR'23 Workshop
subtitle: to be held at the 45th European Conference on Information Retrieval (ECIR 2023) in Dublin, April 2, 2023 (with support for remote attendance)
#email: geoext@dlr.de
#description: >- # this means to ignore newlines until "baseurl:"
#  This is the official homepage for the first workshop on 
#  geographic information extraction from texts (GeoExT).
baseurl: "" # the subpath of your site, e.g. /blog
#banner: banner14.jpg
url: "https://geo-ext.github.io/ecir2023/" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
# github_username:  geo-ext

# Build settings
#remote_theme: pages-themes/leap-day@v0.2.0
#plugins:
#- jekyll-feed
#- jekyll-remote-theme # add this line to the plugins list if you already have one
# - jekyll-feed

#remote_theme: just-the-docs/just-the-docs
theme: minima  # Tactile
minima:
    skin: solarized
#theme: Midnight
plugins:
  - jekyll-feed
  #- jekyll-remote-theme

search_enabled: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
