<div>
    <header class="site-header" style="background-image: url('{{ site.banner | escape | prepend: "/assets/img/" | relative_url  }}');">
        <div class="banner">
            <div class="img-container">
                {% if site.logo %}
                    <img alt="logo" src="{{ site.logo | escape | prepend: "/assets/img/" | relative_url }}"/>
                {% endif %}
            </div>
            <h1 class="site-title">
                <a rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
            </h1>
            <h2>{{ site.subtitle | escape}}</h2>
        </div>

        <div class="wrapper">
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
            {%- if titles_size > 0 -%}
                <nav class="site-nav">
                    <input class="nav-trigger" id="nav-trigger" type="checkbox"/>
                    <div class="trigger">
                        <a class="{% if page.url == '/' %}page-current{% else %}page-link{% endif %}" href="{{ "/" | relative_url }}" {% if page.url == '/' %} aria-disabled="true" {% endif %}>Home</a>
                        {%- for path in page_paths -%}
                            {%- assign my_page = site.pages | where: "path", path | first -%}
                            {%- if my_page.title -%}
                                <a class="{% if page.url == my_page.url %}page-current{% else %}page-link{% endif %}" href="{{ my_page.url | relative_url }}" {% if page.url == my_page.url %} aria-disabled="true" {% endif %}>{{ my_page.title | escape }}</a>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>

                </nav>

            {%- endif -%}
        </div>        
    </header>
</div>
