<div>
    <header class="site-header" style="background-image: url('{{ site.banner | escape | prepend: "/assets/img/" | relative_url  }}');">
        <div class="banner">
            <div class="img-container">
                {% if site.logo %}
                    <img alt="logo" src="{{ site.logo | escape | prepend: "/assets/img/" | relative_url }}"/>
                {% endif %}
            </div>
            <h1 class="site-title">
                <a rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
            </h1>
            <h2>{{ site.subtitle | escape}}</h2>
        </div>
    </header>
</div>
